.btn {
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;
}

.logo__icon {
  margin-right: 12px;
}

.logo__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo__text {
  margin-right: 21px;
}

.logo__title {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;

  color: #fff;
}

.bold {
  font-weight: bold;
}

@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
}

@media (max-width: $mobile-sm) {
}
