.btn {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 287px;
  height: 60px;

  text-decoration: none;
  transition: all 0.2s linear;

  color: #587281;
  border: 1px solid #587281;

  &:hover {
    background: #587281;
    border-color: #587281;
    color: #fff;
  }

  &--white {
    color: #fff;
    border-color: #fff;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;

  &.no-xl {
    display: none;
  }
}

.logo__icon {
  margin-right: 12px;
  width: 101px;
}

.logo__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo__text {
  margin-right: 21px;
}

.logo__title {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;

  color: #fff;
}

.bold {
  font-weight: bold;
}

.scroll {
  overflow-y: scroll;
}

.noscroll {
  overflow-y: hidden;
}

.down__btn {
  position: absolute;
  bottom: 26px;
  left: 50%;
  z-index: 2;

  cursor: pointer;
  transform: translate(-50%);
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.7;
  }
}

.icon__btn {
  position: absolute;
  right: 0;
  top: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 90px;

  cursor: pointer;
  transform: translate(0, -50%);
  transition: all 0.2s linear;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);

  background: $light_blue;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

  &:hover {
    background: $light_blue-hover;
  }
}

.title {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 83px;

  position: relative;

  margin-bottom: 65px;
  padding-left: 20px;

  color: $dark_blue;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;

    height: 87px;
    width: 3px;

    content: "";
    transform: translateY(-50%);

    background: $gradient;
  }

  &--small {
    font-size: 50px;
    line-height: 59px;
  }

  &--white {
    color: #fff;
  }
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 44px;
}

.slider__arrow {
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    opacity: 0.7;
  }
}

.slider__dots {
  margin: 0 30px;

  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    height: 25px;
  }

  .slick-slide {
    width: 17px !important;
    height: 17px;
  }

  .slick-current.slick-active {
    .slider__dots__item {
      &::before {
        opacity: 1;
      }
    }
  }
}

.slider__dots__item {
  position: relative;

  display: inline-block;

  width: 17px !important;
  height: 17px;

  cursor: pointer;

  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 5px #d7d7d7, -2px -2px 5px #ffffff,
    inset 2px 2px 2px rgba(0, 0, 0, 0.25);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 9px;
    height: 9px;

    content: "";
    transform: translate(-50%, -50%);
    transition: all 0.2s linear;

    opacity: 0;
    border-radius: 50%;
    background: $light_blue;
  }
}

.chat__bth {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 8;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 126px;
  height: 44px;

  transition: all 0.2s linear;
  cursor: pointer;

  background: $light_blue;
  border-radius: 20px 0px 0px 0px;

  &:hover {
    background: $light_blue-hover;
  }
}

.chat__bth__content {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;

  img {
    margin-right: 9px;
  }
}

#overlay {
  position: fixed;
  display: none;
  top: 0px;
  height: 100%;
  width: 100%;
  background: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  z-index: 99;
}

@media (max-width: $tablet) {
  .logo {
    &.md {
      display: flex;
    }
  }

  .logo__icon {
    width: 42.7px;
    margin-right: 9px;
  }

  .logo__text {
    width: 150px;
    margin-right: 0;
  }

  .down__btn {
    display: none;
  }

  .title {
    margin-bottom: 50px;
  }
}

@media (max-width: $mobile) {
  .logo__icon {
    width: 40.57px;
    margin-right: 10px;
  }
}

@media (max-width: $mobile-sm) {
}

@media (max-width: $mobile-micro) {
  .btn {
    max-width: 100%;
  }

  .icon__btn {
    top: auto;
    bottom: 5%;

    transform: none;
  }

  .title {
    font-size: 50px;
    line-height: 1.2;

    &--small {
      font-size: 36px;
    }
  }

  .logo__icon {
    width: 35px;
  }

  .logo__text {
    width: 100px;
  }
}
