.about {
  position: relative;

  padding: 135px 0;
}

.about__text__wrapper {
  margin-bottom: 78px;
  max-width: 710px;
  width: 100%;
}

.about__text {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: $tablet) {
  .about {
    padding-top: 83px;
    padding-bottom: 127px;
  }

  .about__bg {
    top: -80px;

    width: auto;
  }
}

@media (max-width: $mobile) {
  .about {
    padding-top: 74px;
    padding-bottom: 83px;
  }

  .about__text__wrapper {
    margin-bottom: 53px;
  }

  .about__bg {
    top: -130px;
  }
}

@media (max-width: $mobile-sm) {
  .about {
    padding-top: 92px;
    padding-bottom: 44px;
  }

  .about__btn {
    margin: 0 auto;
  }

  .about__bg {
    top: -90px;
  }
}
