.certificates {
  padding-bottom: 69px;
}

.certificates__item {
  outline: 5px #fff;
  border: 1px solid rgba($color: #000000, $alpha: 0.02);
}

@media (max-width: $tablet) {
  .certificates {
    padding-bottom: 50px;
  }

  .certificates__slider {
    .slick-slide {
      & > div {
        display: flex;
        justify-content: center;
      }
    }

    picture {
      width: fit-content !important;
    }
  }
}

@media (max-width: $mobile) {
  .certificates__inner {
    .container {
      padding: 0;
    }
  }
}

@media (max-width: $mobile-sm) {
}
