.header__top {
  background: $gray;
}

.header__top__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 57px;
  height: 57px;

  cursor: pointer;
  transition: all 0.2s linear;

  background: $light_blue;

  &:hover {
    background: $light_blue-hover;
  }
}

.header__burger {
  position: relative;
  z-index: 10;
}

.header__burger__icon {
  display: block;
}

.header__top__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__search {
  margin-left: 25px;
}

.header__form {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.header__search__input {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 18px;

  height: 57px;
  width: 348px;
  padding-left: 26px;

  transition: all 0.2s linear;

  background: rgba(197, 199, 196, 0.5);
  border: 1px solid rgba(197, 199, 196, 0.5);
  color: $dark_blue;

  &::placeholder {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 18px;

    color: #677075;
  }

  &:focus,
  &:hover {
    background: rgba(197, 199, 196, 0.8);
  }
}

.header__mail {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-right: 46px;
}

.header__mail__icon {
  margin-right: 12px;
  margin-top: 5px;
}

.header__mail__link {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;

  text-decoration: none;
  transition: all 0.2s linear;

  color: #677075;
  border-bottom: 1px solid #677075;

  &:hover {
    border-color: transparent;
  }
}

.header__mid {
  padding: 14px 0;

  background: $black;
}

.header__mid__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mid__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__phone {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 6px;
}

.header__phone__icon {
  margin-right: 15px;
}

.header__phone__link {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;

  text-decoration: none;
  transition: all 0.2s linear;

  color: #fff;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: #fff;
  }
}

.header__recall {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 201px;
  height: 34px;

  transition: all 0.2s linear;
  cursor: pointer;

  background: #f1ece1;
  border: 1px solid #166693;
  box-sizing: border-box;

  &:hover {
    background: transparent;
    color: #166693;
  }
}

.header__bot {
  background: $light_blue;
}

@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
}

@media (max-width: $mobile-sm) {
}
