.intro {
  position: relative;

  height: 743px;

  background: url("../../images/dest/intro__bg.png") no-repeat center;
  background-size: cover;
}

.intro__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 743px;
  width: 100%;
}

.intro__content {
  position: relative;
  z-index: 3;

  max-width: 825px;
  width: 100%;
  padding: 64px 55px 54px 65px;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);

  &::before {
    position: absolute;
    left: 0;
    top: 0;

    content: "";

    height: 100%;
    width: 5px;

    background: linear-gradient(180deg, #166693 0%, #008fdf 100%);
  }
}

.intro__title {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 83px;
  text-transform: uppercase;

  margin-bottom: 8px;

  color: #ffffff;
}

.intro__description {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  line-height: 52px;

  margin-bottom: 32px;

  color: #fff;
}

@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
}

@media (max-width: $mobile-sm) {
}
