.intro {
  position: relative;

  height: 743px;

  background: url("../../images/dest/intro__bg.png") no-repeat center;
  background-size: cover;
}

.intro__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 743px;
  width: 100%;
}

.intro__wrapper {
  position: relative;

  max-width: 825px;
  width: 100%;
}

.intro__content {
  position: relative;
  z-index: 3;

  width: 100%;
  padding: 64px 55px 54px 65px;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);

  &::before {
    position: absolute;
    left: 0;
    top: 0;

    content: "";

    height: 100%;
    width: 5px;

    background: linear-gradient(180deg, #166693 0%, #008fdf 100%);
  }
}

.intro__title {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 83px;
  text-transform: uppercase;

  margin-bottom: 8px;

  color: #ffffff;
}

.intro__description {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  line-height: 52px;

  margin-bottom: 32px;

  color: #fff;
}

.intro__figure {
  position: absolute;
  right: -50px;
  bottom: -50px;
  z-index: 1;

  display: inline-block;

  width: 196px;
  height: 196px;

  background: rgba(22, 102, 147, 0.4);
  backdrop-filter: blur(15px);
}

@media (max-width: $tablet) {
  .intro {
    height: 599px;

    background: url("../../images/dest/intro__bg--tablet.png") no-repeat center;
    background-size: cover;
  }

  .intro__inner {
    justify-content: center;

    height: 599px;
  }

  .intro__wrapper {
    max-width: 610px;
  }

  .intro__content {
    padding: 29px 0 48px 42px;
  }

  .intro__title {
    font-size: 50px;
    line-height: 59px;

    margin-bottom: 25px;
  }

  .intro__description {
    font-weight: 200;
    font-size: 30px;
    line-height: 44px;

    margin-bottom: 36px;
  }

  .intro__figure {
    right: -30px;
    bottom: -30px;
  }
}

@media (max-width: $mobile) {
  .intro {
    height: 966px;

    background: url("../../images/dest/intro__bg--mobile.png") no-repeat center;
    background-size: cover;
  }

  .intro__inner {
    height: 966px;
  }

  .intro__wrapper {
    max-width: 570px;
  }

  .intro__content {
    padding-top: 29px;
    padding-left: 23px;
  }

  .intro__figure {
    bottom: -34px;
    right: -50px;
  }
}

@media (max-width: $mobile-sm) {
}
