.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;

  max-width: 1256px;
  width: 100%;

  transform: translateX(-100%);
  transition: all 0.5s ease;

  background: $gradient;

  &--show {
    transform: translateY(0);
  }
}

.menu__head {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 57px;
  padding-right: 15px;
}

.menu__close {
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.menu__body {
  padding: 27px;
  padding-left: 57px;
}

.menu__body__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;

  margin-bottom: 25px;

  color: #ffffff;
}

.menu__body__nav {
  margin-bottom: 56px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__body__box {
  &--mt {
    margin-top: 35px;
  }
}

.menu__body__nav__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  position: relative;

  margin-bottom: 33px;
  width: fit-content;

  color: #ffffff;

  &::before {
    position: absolute;
    left: 0;
    bottom: -8px;

    content: "";

    height: 2px;
    width: 100%;

    background: #fff;
  }
}

.menu__body__nav__list {
  &--margin {
    .menu__body__nav__item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.menu__body__nav__link {
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  line-height: 162.5%;

  text-decoration: none;

  color: #fff;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: $tablet) {
  .menu {
    max-width: 100%;
    height: 100%;
  }
}

@media (max-width: $mobile) {
  .menu__body__col {
    width: 100% !important;
  }

  .menu__body__inner__col {
    width: 100% !important;
  }

  .menu__body__title {
    font-size: 24px;
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0px;
    height: 70px;

    border-bottom: 1px solid #fff;
  }

  .menu__arrow {
    transition: all 0.2s linear;
  }

  .menu__body {
    overflow-y: scroll;
    height: calc(100vh - 57px);
  }

  .menu__body__nav {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .menu__body__box {
    &--mt {
      margin-top: 0;
    }

    &--active {
      .menu__arrow {
        transform: rotate(-180deg);
      }

      .menu__body__nav {
        display: block;
      }
    }
  }

  .menu__body__nav__title {
    font-size: 18px;
    line-height: 1;

    margin-bottom: 20px;
  }

  .menu__body__nav {
    display: none;

    margin-top: 20px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .menu__body__nav__list {
    &--margin {
      .menu__body__nav__item {
        margin-bottom: 10px;
      }
    }
  }

  .menu__body__nav__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobile-sm) {
  .menu__body {
    padding: 20px 15px;
  }
}
