.partners {
  padding-top: 61px;
  padding-bottom: 55px;

  background: url("../../images/dest/partners__bg.png") no-repeat center;
  background-size: cover;
}

.partners__slider {
  .slick-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25%;
  }
}

@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
}

@media (max-width: $mobile-sm) {
}
