.products {
  padding-top: 89px;
  padding-bottom: 69px;

  background: url("../../images/dest/products__bg.png") no-repeat center;
  background-size: cover;
}

.products__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 11px;
}

.products__item {
  width: 213px;

  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-top: 3px solid $light_blue;
}

.products__top {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  height: 203px;
}

.products__content {
  padding: 60px 20px 23px;
}

.products__item__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  position: relative;

  margin-bottom: 34px;
  width: fit-content;

  color: #587281;

  &::before {
    position: absolute;
    left: 0;
    bottom: -8px;

    width: 100%;
    height: 2px;

    content: "";

    background: $gradient;
  }
}

.products__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;

  max-height: 220px;
  height: 100%;
}

.products__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 162.5%;

  text-decoration: none;
  transition: all 0.2s linear;

  border-bottom: 1px solid transparent;
  color: $dark_blue;

  &:hover {
    color: #008fdf;
    border-color: #008fdf;
  }
}

@media (max-width: $tablet) {
  .products {
    padding: 92px 0;
  }

  .products__wrapper {
    gap: 9px;
  }

  .products__item__title {
    font-size: 16.7568px;
    line-height: 25px;

    margin-bottom: 28px;
  }

  .products__content {
    padding: 50px 12px 20px;
  }

  .products__list {
    gap: 20px;
  }

  .products__link {
    font-size: 12.5676px;
    line-height: 162.5%;
  }
}

@media (max-width: $mobile) {
  .products {
    padding-top: 71px;
    padding-bottom: 107px;

    background: url("../../images/dest/products__bg--mobile.png") no-repeat
      center;
    background-size: cover;
  }

  .products__wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .products__item {
    width: 100%;
    height: 256px;
  }

  .products__item__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
  }

  .products__top {
    align-items: center;

    height: auto;
    width: 180px;
    min-width: 180px;
    margin-right: 50px;
  }

  .products__content {
    padding: 0;
    width: 100%;
  }

  .products__item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 47px;
  }

  .products__link {
    font-size: 15px;
    line-height: 162.5%;
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px 65px;

    max-height: 150px;
    width: fit-content;
  }
}

@media (max-width: $mobile-sm) {
  .products {
    padding-top: 79px;
    padding-bottom: 106px;

    background: url("../../images/dest/products__bg--mobile-sm.png") no-repeat
      center;
    background-size: cover;
  }

  .products__img {
    &--big {
      width: 50%;
    }
  }
}

@media (max-width: $mobile-micro) {
  // .products__top {
  //   margin-right: 5px;
  // }

  // .products__item {
  //   height: 300px;
  // }

  // .products__list {
  //   max-height: 300px;
  // }

  .products__item {
    height: 420px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .products__item__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .products__top {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
