.services__wrapper {
  position: relative;
}

.services__bg {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 545px;
  width: 100%;

  transform: translateY(-50%);

  background: linear-gradient(
      180deg,
      rgba(72, 93, 112, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    #587281;
}

.services__bg__img {
  &--right {
    transform: rotate(-180deg);
  }
}

.services__list {
  position: relative;
  z-index: 2;

  .container {
    max-width: 1140px;
  }
}

.services__list__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item__wrapper {
  display: flex;
  flex-direction: column;
}

.services__item {
  position: relative;

  display: inline-block;

  width: fit-content;
  height: fit-content;

  transition: all 0.5s linear;

  outline: 5px #fff solid;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    content: "";
    transition: all 0.2s linear;

    opacity: 0;
    background: linear-gradient(60.92deg, #000 -2.33%, rgba(0, 0, 0, 0) 100%);
  }

  &:hover {
    &::before {
      opacity: 0.5;
    }
  }

  &.no-xl {
    display: none;
  }
}

.services__item__img {
  display: block;
}

.services__item__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  position: absolute;
  left: 20px;
  bottom: 11px;
  z-index: 3;

  color: #ffffff;
}

@media (max-width: $tablet) {
  .services__bg {
    height: 482px;
  }

  .services__bg__img {
    display: none;
  }

  .services__list {
    .container {
      padding: 0 29px;
    }
  }

  .services__item {
    outline: 4px #fff solid;
  }

  .services__item__img {
    width: auto;
  }
}

@media (max-width: $mobile) {
  .services__list {
    .container {
      padding: 0 32px;
    }
  }

  .services__bg {
    height: 384px;
  }

  .services__item {
    outline: 3px #fff solid;
  }

  .services__item__title {
    font-weight: 500;
    font-size: 13.217px;
    line-height: 20px;

    left: 14px;
    bottom: 10px;
  }
}

@media (max-width: $mobile-sm) {
  .services__item {
    outline: 5px #fff solid;

    &.no-xss {
      display: none;
    }

    &.xss {
      display: inline-block;
    }
  }

  .services__item__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    left: 20px;
    bottom: 15px;
  }

  .services__bg {
    height: 982px;
  }
}
